.list{
    padding: 0 3rem 3rem 3rem;
}

.title{
    font-size: 1.75rem;
    margin:  2.5rem;
}

.movie_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 420px) {
    .list{
        padding: 0 2rem 2rem 2rem;
    }
    
    .title{
        font-size: 1.5rem;
        margin:  2.5rem;
    }
  
}