.row{   
    margin: auto;
    color: white;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
}
h2{
    margin-left: 1.5rem;
}

.row-posters{
    display: flex;
    padding: 20px;
    margin-top: 5px;
    max-width: 100%;
}

.row-posters::-webkit-scrollbar {
    display: none;
}

.postersm{
    object-fit: contain;
    max-width: 100vw;
    height: 200px;
    margin-right: 10px;
    transition: transform 450ms;
}

.postersm:hover{
    transform: scale(1.3);
}

.link{
    text-decoration: none;
}